In [1]:
import pandas as pd

In [4]:
#3.9버전에서는 문제 없음
#3.8버전에서는 한글 인코딩이 깨지는 문제가 발생함
#UnicodeDecodeError <<<--- engine='python'
#ParserError: Expected 9 fields in line 9, saw 15 <<<-- bad line 문제일 가능성이 있음(error_bad_lines=False)
data = pd.read_csv("mysql2csv.csv", engine='python', encoding='CP949') #ㄴ 위 문제의 경우 엑셀을 삭제하고 다시 설치하는 걸로도 안되면
                                                                       #error_bad_lines=False 추가해보자

print(data)

   1   상품1             테스트1   ㅅㅎㅈ  Unnamed: 4
0  2    뭐야            갱신시도2   상품이         NaN
1  4   드디어   마침내해냈다집단지성사랑해요   다됐다         NaN
2  5   바나나           바나나 푸딩   미니언         NaN

In [5]:
data.head()

   1   상품1             테스트1   ㅅㅎㅈ  Unnamed: 4
0  2    뭐야            갱신시도2   상품이         NaN
1  4   드디어   마침내해냈다집단지성사랑해요   다됐다         NaN
2  5   바나나           바나나 푸딩   미니언         NaN

In [7]:
data

   1   상품1             테스트1   ㅅㅎㅈ  Unnamed: 4
0  2    뭐야            갱신시도2   상품이         NaN
1  4   드디어   마침내해냈다집단지성사랑해요   다됐다         NaN
2  5   바나나           바나나 푸딩   미니언         NaN

In [9]:
data.columns = ["product_no", "title", "content", "seller", "Not Use"]
                #지금처럼 맨 뒤에 원인 모르게 NaN이 붙는 경우, 맨 뒤에 "Not Use"를 붙여주어야 데이터가 제대로 처리된다
data

   product_no title          content seller  Not Use
0           2    뭐야            갱신시도2    상품이      NaN
1           4   드디어   마침내해냈다집단지성사랑해요    다됐다      NaN
2           5   바나나           바나나 푸딩    미니언      NaN

In [22]:
data = pd.read_csv("mysql2csv.csv", engine='python', encoding='CP949', index_col=False)

data.drop(['Unnamed: 4'], axis=1, inplace=True)

print(data)

   1   상품1             테스트1   ㅅㅎㅈ
0  2    뭐야            갱신시도2   상품이
1  4   드디어   마침내해냈다집단지성사랑해요   다됐다
2  5   바나나           바나나 푸딩   미니언

In [20]:
data.columns = ["product_no", "title", "content", "seller"] #이대로 쳤더니 맨 위의 목록이 날아감
               
data

   product_no title          content seller
0           2    뭐야            갱신시도2    상품이
1           4   드디어   마침내해냈다집단지성사랑해요    다됐다
2           5   바나나           바나나 푸딩    미니언

In [23]:
header = pd.Series(["product_no", "title", "content", "seller"])
print(header)

0    product_no
1         title
2       content
3        seller
dtype: object

In [24]:
header_data = pd.DataFrame([header])
print(header_data)

            0      1        2       3
0  product_no  title  content  seller

In [25]:
print(data)

   1   상품1             테스트1   ㅅㅎㅈ
0  2    뭐야            갱신시도2   상품이
1  4   드디어   마침내해냈다집단지성사랑해요   다됐다
2  5   바나나           바나나 푸딩   미니언

In [27]:
data = pd.read_csv("mysql2csv.csv", header=None, engine='python', encoding='CP949', index_col=False)

data.drop([4], axis=1, inplace=True)

print(data)

   0     1                2     3
0  1   상품1             테스트1   ㅅㅎㅈ
1  2    뭐야            갱신시도2   상품이
2  4   드디어   마침내해냈다집단지성사랑해요   다됐다
3  5   바나나           바나나 푸딩   미니언

In [28]:
data.columns = ["product_no", "title", "content", "seller"]
data

   product_no title          content seller
0           1   상품1             테스트1    ㅅㅎㅈ
1           2    뭐야            갱신시도2    상품이
2           4   드디어   마침내해냈다집단지성사랑해요    다됐다
3           5   바나나           바나나 푸딩    미니언

In [43]:
import pymysql
import datetime
import pickle

MYSQL_USER_DATA_SAVED_FILE = "mysql/userinfo"

f = open(MYSQL_USER_DATA_SAVED_FILE, 'rb')
mysql_user_info = pickle.load(f)
f.close()

In [44]:
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    passwd = mysql_user_info['password'],
    # 여기서 사용할 스키마 하나 생성!
    db = 'non_jpa_db'
)

In [45]:
sql = """
    select * from market;
"""

data = pd.read_sql_query(sql, db)
data.to_csv(r"db2csv.csv", index=False, encoding='utf-8-sig')

#C:\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
#  warnings.warn(
# Warning 문구이고 에러가 아니니까 마저 작업 속행해도 괜찮음.

C:\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [46]:
db.close()

In [47]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 8C6A-4EF0

 C:\khweb19\Homework\hyeonjiSon\python 디렉터리

2022-05-20  오후 05:16    <DIR>          .
2022-05-20  오후 05:16    <DIR>          ..
2022-05-20  오후 03:12    <DIR>          .idea
2022-05-20  오후 03:37    <DIR>          .ipynb_checkpoints
2022-05-13  오후 04:48                37 colors
2022-05-20  오후 05:17               208 db2csv.csv
2022-05-19  오후 06:16            25,096 fifth.ipynb
2022-05-13  오후 06:03            17,583 first.ipynb
2022-05-19  오후 06:16           333,180 fourth.ipynb
2022-05-16  오후 01:48            17,498 Ims4and5.ipynb
2022-05-20  오후 02:14            15,951 lms 11, 12, 13.ipynb
2022-05-19  오전 01:32             9,668 lms 9 and 10.ipynb
2022-05-18  오후 11:39            10,610 lms2and3.ipynb
2022-05-18  오전 01:17            19,910 lms678.ipynb
2022-05-16  오후 05:49    <DIR>          mysql
2022-05-19  오후 06:03               140 mysql2csv.csv
2022-05-13  오후 06:03            36,626 Second.ipynb
2022-05-20  오후 05:16            29,089 sixth.ipynb
2022-05-13  오후 04:38                17 test.txt
2022-05-19  오후 05:28            70,281 test_1.jpg
2022-05-19  오후 05:28            18,367 test_10.jpg
2022-05-19  오후 05:28             7,031 test_11.jpg
2022-05-19  오후 05:28            49,909 test_12.jpg
2022-05-19  오후 05:28            47,983 test_13.jpg
2022-05-19  오후 05:28            57,033 test_14.jpg
2022-05-19  오후 05:28           215,245 test_15.jpg
2022-05-19  오후 05:28            40,785 test_16.jpg
2022-05-19  오후 05:28           143,856 test_17.jpg
2022-05-19  오후 05:28            30,663 test_18.jpg
2022-05-19  오후 05:28            22,085 test_19.jpg
2022-05-19  오후 05:28            34,634 test_2.jpg
2022-05-19  오후 05:28            38,436 test_20.jpg
2022-05-19  오후 05:28            38,562 test_21.jpg
2022-05-19  오후 05:28            48,526 test_22.jpg
2022-05-19  오후 05:28            25,745 test_23.jpg
2022-05-19  오후 05:28            68,142 test_24.jpg
2022-05-19  오후 05:28           339,394 test_25.jpg
2022-05-19  오후 05:28           135,023 test_26.jpg
2022-05-19  오후 05:28            93,574 test_27.jpg
2022-05-19  오후 05:28           145,661 test_28.jpg
2022-05-19  오후 05:28            15,215 test_29.jpg
2022-05-19  오후 05:28            37,519 test_3.jpg
2022-05-19  오후 05:28            54,727 test_30.jpg
2022-05-19  오후 05:28           123,040 test_31.jpg
2022-05-19  오후 05:28           138,203 test_32.jpg
2022-05-19  오후 05:28            82,515 test_33.jpg
2022-05-19  오후 05:28            58,332 test_34.jpg
2022-05-19  오후 05:28            33,353 test_35.jpg
2022-05-19  오후 05:28            68,472 test_36.jpg
2022-05-19  오후 05:28            58,170 test_37.jpg
2022-05-19  오후 05:28           584,105 test_38.jpg
2022-05-19  오후 05:28             8,183 test_39.jpg
2022-05-19  오후 05:28            16,621 test_4.jpg
2022-05-19  오후 05:28            27,553 test_40.jpg
2022-05-19  오후 05:28            61,166 test_41.jpg
2022-05-19  오후 05:28            39,614 test_42.jpg
2022-05-19  오후 05:28            21,745 test_43.jpg
2022-05-19  오후 05:28           601,519 test_44.jpg
2022-05-19  오후 05:28            41,273 test_45.jpg
2022-05-19  오후 05:28            25,752 test_46.jpg
2022-05-19  오후 05:28            76,820 test_47.jpg
2022-05-19  오후 05:28            68,131 test_48.jpg
2022-05-19  오후 05:28            83,187 test_49.jpg
2022-05-19  오후 05:28            37,967 test_5.jpg
2022-05-19  오후 05:29           518,453 test_50.jpg
2022-05-19  오후 05:29           100,117 test_51.jpg
2022-05-19  오후 05:29            62,585 test_52.jpg
2022-05-19  오후 05:29            20,940 test_53.jpg
2022-05-19  오후 05:29            23,842 test_54.jpg
2022-05-19  오후 05:29            45,427 test_55.jpg
2022-05-19  오후 05:29            39,750 test_56.jpg
2022-05-19  오후 05:29            81,857 test_57.jpg
2022-05-19  오후 05:29            29,713 test_58.jpg
2022-05-19  오후 05:29           118,112 test_59.jpg
2022-05-19  오후 05:29            51,948 test_60.jpg
2022-05-19  오후 05:29            41,828 test_61.jpg
2022-05-19  오후 05:29           122,772 test_62.jpg
2022-05-19  오후 05:29            10,420 test_63.jpg
2022-05-19  오후 05:29           101,881 test_64.jpg
2022-05-19  오후 05:29            95,087 test_65.jpg
2022-05-19  오후 05:29            22,816 test_66.jpg
2022-05-19  오후 05:29           254,240 test_67.jpg
2022-05-19  오후 05:29            43,138 test_68.jpg
2022-05-19  오후 05:29            68,091 test_69.jpg
2022-05-19  오후 05:28            85,411 test_7.jpg
2022-05-19  오후 05:29           227,984 test_70.jpg
2022-05-19  오후 05:29            19,191 test_71.jpg
2022-05-19  오후 05:29             9,612 test_72.jpg
2022-05-19  오후 05:29            13,965 test_73.jpg
2022-05-19  오후 05:29            47,800 test_74.jpg
2022-05-19  오후 05:29             7,409 test_75.jpg
2022-05-19  오후 05:29            20,163 test_76.jpg
2022-05-19  오후 05:29            42,539 test_77.jpg
2022-05-19  오후 05:29            18,635 test_78.jpg
2022-05-19  오후 05:29            49,761 test_79.jpg
2022-05-19  오후 05:28           148,625 test_8.jpg
2022-05-19  오후 05:29           125,459 test_80.jpg
2022-05-19  오후 05:28            24,217 test_9.jpg
2022-05-17  오후 04:18            15,982 third.ipynb
              94개 파일           7,259,500 바이트
               5개 디렉터리  649,822,171,136 바이트 남음

In [48]:
# csv -> DB
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    passwd = mysql_user_info['password'],
    # 여기서 사용할 스키마 하나 생성!
    db = 'pydb'
)

In [49]:
cursor = db.cursor()

sql = """
    create table csv_to_db_test(
        product_no int unsigned not null auto_increment,
        title varchar(200) not null,
        content text,
        seller varchar(50) not null,
        primary key(product_no)
    )
"""

cursor.execute(sql)
db.commit()
db.close()
print('테이블 생성 성공!')

테이블 생성 성공!

In [50]:
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    passwd = mysql_user_info['password'],
    # 여기서 사용할 스키마 하나 생성!
    db = 'pydb'
)

cursor = db.cursor()

In [51]:
import csv

In [52]:
f = open('db2csv.csv', 'r', encoding='UTF8')
#csv_reader = csv.reader(f, delimiter='\t')
csv_reader = csv.reader(f, delimiter=',')
# 구분자를 주의합시다 ;;;

print(csv_reader)

<_csv.reader object at 0x0000018CB9B680A0>

In [53]:
cnt = 0

for row in csv_reader:
    if cnt == 0:
        cnt += 1
        continue
        
    print(row)
    product_no = (row[0])
    title = (row[1])
    content = (row[2])
    seller = (row[3])
    
    print(product_no, title, content, seller)
    
    sql = """
        insert into csv_to_db_test (title, content, seller) values (%s, %s, %s)
    """
    
    cursor.execute(sql, (title, content, seller))
    
db.commit()

f.close()
db.close()

['1', '상품1', '테스트1', 'ㅅㅎㅈ']
1 상품1 테스트1 ㅅㅎㅈ
['2', '뭐야', '갱신시도2', '상품이']
2 뭐야 갱신시도2 상품이
['4', '드디어', '마침내해냈다집단지성사랑해요', '다됐다']
4 드디어 마침내해냈다집단지성사랑해요 다됐다
['5', '바나나', '바나나 푸딩', '미니언']
5 바나나 바나나 푸딩 미니언

In [ ]:
#카톡 메시지 보내기
#애플리케이션 닉네임 - 필수, 계정 - 선택, 메시지 - 선택
#카카오 로그인 - 활성화
#Redirect URI: https://localhost.com
#플랫폼 Web: https://localhost.com
#부가적으로 naver나 daum넣고 안넣어도 아마 될 것임
#API:
#GET /oauth/authorize?client_id=${REST_API_KEY}&redirect_uri=${REDIRECT_URI}&response_type=code HTTP/1.1
#Host:
#Host: kauth.kakao.com
#위의 URI로 요청해서 토큰을 발급받자

#시크릿 창을 열고                                    ↓나의 REST API KEY            ↓https://localhost.com
#https://kauth.kakao.com/oauth/authorize?client_id=${REST_API_KEY}&redirect_uri=${REDIRECT_URI}&response_type=code
                                                #${}는 빼고 넣어야한다.

#https://kauth.kakao.com/oauth/authorize?client_id=33ee1d44ba98defb52282f8ec9a3e19e&redirect_uri=https://localhost.com&response_type=code

In [1]:
import requests

url = "https://kauth.kakao.com/oauth/token"

#data = {
#    "grant_type": "authorization_code",
#    "client_id": "YourRESTAPIKey",
#    "redirect_uri": "https://localhost.com",
#    "code": "https://kauth.kakao.com/oauth/authorize 블라블라 요청한 내용의 응답 code"
#}

data = {
    "grant_type": "authorization_code",
    "client_id": "33ee1d44ba98defb52282f8ec9a3e19e",
    "redirect_uri": "https://localhost.com",
    "code": "bCYBNVabJbcG9iPshQHRQsfZnaL0jNbBxEIsQg8wC7OJEZfHXJZ5I5FQpt0TBIJc0v418Qo9dVwAAAGA-g51PA"
}

response = requests.post(url, data=data)

if response.status_code != 200:
    print("에러!!!")
else:
    tokens = response.json()
    print(tokens)

{'access_token': '7yqobDJfCG_ODqxSLmLmq_UOSzUecJ1QINbP6_rdCinJXgAAAYD6DwbU', 'token_type': 'bearer', 'refresh_token': 'e1CGdeI0JJ0kU2ev_xTsvV5jmoZQFz2q2AEUNJ75CinJXgAAAYD6DwbT', 'expires_in': 21599, 'scope': 'account_email talk_message profile_nickname friends', 'refresh_token_expires_in': 5183999}

In [2]:
import json
import datetime
import os

# Kakao Token 저장 파일
     #아래 내용대로의 저장을 위해 kakao_msg라는 디렉토리를 만들어주어야 한다.
KAKAO_TOKEN_SAVED_FILE = "kakao_msg/kakao_token.json"

# 저장
def save_tokens(filename, tokens):
    with open(filename, "w") as fp:
        json.dump(tokens, fp)
        
# 읽기
def load_tokens(filename):
    with open(filename) as fp:
        tokens = json.load(fp)
        
    return tokens

# token 저장
save_tokens(KAKAO_TOKEN_SAVED_FILE, tokens)

In [36]:
tokens = load_tokens(KAKAO_TOKEN_SAVED_FILE)

url = "https://kapi.kakao.com/v2/api/talk/memo/default/send"

headers = {
    "Authorization": "Bearer " + tokens['access_token']
}

data = {
    "template_object": json.dumps({
        "object_type": "text",
        "text": "파이썬으로 메세지 전송!!",
        "link": {
            "web_url": "www.naver.com"
        }
    })
}

response = requests.post(url, headers=headers, data=data)
print(response.status_code)

if response.status_code != 200:
    print("에러!")
else:
    print("카톡 메시지 가보자고!!!")

200
카톡 메시지 가보자고!!!